@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}


       /* navbar */
.head{
    padding: 0px 50px 0px 50px;
    background-color: rgba(255, 144, 14, 0.1);;
}
.navbar{
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
    color: rgb(66, 66, 66);
    font-size: 14px;
}
.nav-left{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 35px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}